*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    margin: auto;
    width: 25vw;
    height: 25vw;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    grid-auto-flow: column;
    gap: 1px;
}

.board > * {
    border: 1px solid;
}

.white_tile {
    background-color: white;
}

.black_tile {
    background-color: black;
}
/* centre le bloc */
body, html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}